{% extends "TravelExperienceApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
        <br/>
      <img src="{{ post.image.url }}" height="400" width="700">
      <br/><br/>
      <p class="article-content">{{ object.content }}</p>
      <br/><br/><br/>
      <hr>
      <br/>
     <div class="d-flex flex-row">
       <form method="POST" action="{% url 'like' object.pk%}">
           {% csrf_token %}
           <input type="hidden" name="next" value="{{ request.path }}">
           <button  class = "btn btn-primary btn-sm">like
           </button> <span> -{{ post.likes.all.count }} likes</span>
       </form>
     </div>
      <br/><br/><br/>
      <hr>
      <h5>Comments</h5>
      {% if not post.comments.all %}
          No Comments Yet? <a href ="{% url 'add-comment' object.pk %}">
          Add One</a>
      {% else %}
      <br/>
      <a href ="{% url 'add-comment' object.pk %}"> Add Comment</a>
      <br/><br/>
        {% for comment in post.comments.all %}
            <small>
            <strong>
              {{ comment.author }} |
              {{ comment.date_added }}
            </strong>
            </small>
            <br/>
              <small>
              {{ comment.body}}
              </small>
            <br/><br/>
        {% endfor %}
      {% endif %}

    </div>
  </article>

{% endblock content %}


